body {
    background-color: rgb(0, 0, 0);
}
.tayttosivu {
    background-color: aliceblue;
}
.lomaketiedot {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.149);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-style: outset;
    border-width: 5px;
    border-color: aquamarine;
    
}
.lomake {
    background-color: aqua;
    padding: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#nappi {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: rgba(12, 227, 209, 0.19);
    border-radius: 50px;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(15, 207, 143);
    font-size: 20px;
}
#nappi:hover {
    background-color: rgb(12, 227, 209);
}
#error {
    color: red;
}