.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 80px;
}
.wrapper div {
    border: solid black 1px;
    background-color: red;
}
.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 80px;
}
.wrapper2 div {
    border: solid black 1px;
    background-color: rgb(0, 255, 8);
}
.wrapper2 #box2 {
    grid-row-start: 2;
    grid-row-end: span 3;
}
.wrapper2 #box1 {
    grid-column-start: 1;
    grid-column-end: 4;
}