.wrapper, .wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper div {
    width: 150px;
    height: 150px;
    border: solid black 1px;
    margin-left: 50px;
}
.wrapper2 #box2 {
    width: 150px;
    height: 30px;
    border: solid black 1px;
}
.wrapper2 #box3 {
    width: 400px;
    height: 30px;
    border: solid black 1px;
}
#box1 {
    background-color: rgb(4, 220, 40);
}
#box2, #box3 {
    background-color: rgb(251, 3, 3);
}
