body {
    background-color: #0A2647;
}
.kello {
    margin: 0;
    text-align: center;
    width: 70%;
    background-color: #205295;
    border-radius: 40px;
    color: #0A2647;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 4vw;
    margin: 0;
}