body {
    background-color: #F6FFDE;
}
nav {
    background-color: #AAC8A7;
    height: 39px;
    width: 100%;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:inline-block;
}
nav li {
    display: inline-block;
}
nav li a {
    display: block;
    color: #6a7e68;
    font-weight: 800;
    font-size: 18px;
    padding: 6px 13px;
    text-decoration: none;
    margin: 0
  }
nav li a:hover:not(.active) {
    background-color: #b3d3b0;
    color: #F6FFDE;
    border-radius: 5px;
    font-size: 20px;
}
footer {
    background-color: #C9DBB2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
footer ul {
    text-align: center;
    padding: 0;
}
footer li {
    display: inline-block;
    padding: 18px 7px;
}
#tulokset {
    background-color: #E3F2C1;
    width: 50%;
    height: fit-content;
    padding: 30px 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
    text-align: center;
}
#tulokset p {
    color: #667965;
    line-height: normal;
}
.form-group form {
    text-align: center;
    background-color: #AAC8A7;
    width: 400px;
    margin: auto;
    border-radius: 5px;
}
.form-group select, .form-group input {
    background-color: #F6FFDE;
    color: #000000;
}
.form-group form input::placeholder {
    color: rgba(0, 0, 0, 0.872);
}
.content {
    text-align: center;
    line-height: 30px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
p {
    text-align: center;
}